apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST

  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: apextrade
    user: apextrade
    secureJsonData:
      password: apextrade
    jsonData:
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
    editable: true

  - name: TimescaleDB
    type: postgres
    url: timescaledb:5432
    database: apextrade_timeseries
    user: apextrade
    secureJsonData:
      password: apextrade
    jsonData:
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
      timescaledb: true
    editable: true
